body {
  background-color: #F6F8F9;
}

.wrapper {
    text-align: center;
}

p {
    font-size: 25px;
    font-weight:bold;
    display:inline-block;
    width:70%;
}

canvas, input, body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

:focus {outline:0;}

input {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

canvas {
    background-color: white;
    width: 100%;
    height: 100%;
}

.data {
	display: inline-block;
    vertical-align: top;
    height: 98vh;
    width: 20%;
    border:2px solid #99A3A4;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right:10px;
}

.draw {
	display: inline-block;
    vertical-align: top;    
    height: 98vh;
    width: 79%;
    border:2px solid #99A3A4;
    box-sizing: border-box;
}

button {
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	padding: 8px;
	border: 2px solid #CC0000;
	text-align: center;
    text-decoration: none;
	font-size: 115%;
	font-weight: bold;
	background-color: #F6F8F9;
	color: #CC0000;	
}

.step {
    width: 14%;
	display: none;
}

button:hover {
	background-color: #CC0000 !important;
	color: white !important;
	cursor: pointer;	
}

.linkbutton {
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	padding: 8px;
	border: 2px solid #4CAF50;
	text-align: center;
    text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	background-color: #F6F8F9;
	color: green;
}

.linkbutton:hover {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

/* Базовые стили слоя, затемнения и модального окна */
.overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
	/* фон затемнения */
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed; /* фиксированное позиционирование */
	cursor: default; /* тип курсора */
}
 
/* активируем слой затемнения */
.overlay:target {
	display: block;
}
 
/* стили модального окна */
.popup {
	top: -100%;
	right: 0;
	left: 50%;
	font-size: 20px;
	z-index: 20;
	margin: 0;
	width: 95%;
	min-width: 40%;
	max-width: 42%;
	/* фиксированное позиционирование, окно стабильно при прокрутке */
	position: fixed;
	padding: 24px;
	border: 1px solid #383838;
	background: #fefefe;
	/* скругление углов */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font: 20px/24px 'Tahoma', Arial, sans-serif;
	/* внешняя тень */
	-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
	-webkit-transform: translate(-50%, -500%);
	-ms-transform: translate(-50%, -500%);
	-o-transform: translate(-50%, -500%);
	transform: translate(-50%, -500%);
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-moz-transition: -moz-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}
 
/* активируем модальный блок */
.overlay:target+.popup {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 25%;
}
 
/* формируем кнопку закрытия */
.close {
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	border: 2px solid #ccc;
	border-radius: 15px;
	background-color: rgba(61, 61, 61, 0.8);
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	text-align: center;
	text-decoration: none;
	font: 13px/20px 'Tahoma', Arial, sans-serif;
	font-weight: bold;
}
 
.close:before {
	color: rgba(255, 255, 255, 0.9);
	content: "X";
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	font-size: 12px;
}
 
.close:hover {
	background-color: rgba(252, 20, 0, 0.8);
}
